:root {
    --hue1: #a7ff83;
    --hue2: #24b978;
    --hue3: #2e8b58;
    --hue4: #116971;

    --hue5: #4CDC7D;
    --hue6: #24b978;
    --hue7: #009D57;
}
main {
    display: flex;
    flex-direction: column;
    align-self: center;
}
h1 {
    font-family: "Noto Sans", sans-serif;
}

/* Challenge Logos */
.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}
.logo-container>[type="radio" i] {
    display: none;
}
#logo-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: 100%;
}
#logo-btn {
    z-index: 1;
    position: absolute;
    transition: opacity 0.5s;
}
#logo-placeholder {
    width: 140px;
    opacity: 50%;
    transition-duration: 0.5s;
}
.logo {
    border: 1px solid #fff;
    margin: 10px 10px 10px 0;
    display: block;
    position: relative;
    cursor: pointer;
}
.logo img {
    height: 75px;
    width: 75px;
    padding: 2px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    border-radius: 50%;
    box-shadow: 0 0 5px #333;
    margin: 0 auto;
}
:not(:checked) + .logo img {
    transform: scale(0.9);
    transition-duration: 0.5s;
    box-shadow: 0 0 5px #333;
    opacity: 50%;
    z-index: -1;
}
:not(:checked) + .logo img:hover {
    opacity: 100%;
}

/* Expansion Pack Selection */
#pack-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1em;
}
#pack-container>[type="checkbox" i] {
    display: none;
}
.pack {
    border: 1px solid #fff;
    padding: 10px 10px 10px 0;
    display: block;
    position: relative;
    cursor: pointer;
}
.pack img {
    height: 75px;
    width: 75px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    border-radius: 50%;
    box-shadow: 0 0 5px #333;
    margin: 0 auto;
}
:not(:checked) + .pack img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    opacity: 50%;
    z-index: -1;
}

/* Cards */
.card-body {
    height: 128px;
}

/* Status Bars */
.skill-container .skill {
    color: white;
    background-color: lightgray;
    margin: 5px 0;
    padding: 10px 0 10px 4px;
    overflow: hidden;
    border-radius: 5px;
    white-space: nowrap;
    position: relative;
    z-index: 0;
}
.skill-container .skill::before {
    content: "";
    position: absolute;
    background-color: seagreen;
    border-radius: inherit;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    animation: animateLeft 1s ease-out;
}
@keyframes animateLeft {
    from {
        transform: translateX(-100%);
    }
}
.skill-container .skill.skill-level-70::before {
    width: 70%
}
.skill-container .skill.skill-level-40::before {
    width: 40%
}
.skill-container .skill.skill-level-100::before {
    width: 100%
}
.card {
    display: flex;
}
.card-body {
    padding: 10px 10px 10px 0;
    justify-content: center;
    align-items: center;
}
.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rounded-start {
    justify-self: center;
    align-self: center;
}

/* Color Picker */
.swatchy-output {
    transition: 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

/* Generations */
#gen-button-div {
    margin-right: -2.5em;
}
.circle-btn {
    border-radius: 50%;
    height: 35px;
    width: 32px;
}